body {
    font-family: Inter;
}

@font-face {
    font-family: Inter;
    src: url(fonts/Inter.ttf);
}

.heading {
    margin-left: 20px;
}

.pg {
    margin-left: 30px;
}

.button {
    background-color:rgb(95, 137, 222);
    margin-left: 30px;
    color: white;
    border-radius: 20px;
}

.button:hover {
    scale: 1.1;
    margin-left: 30px;
    transition: 0.2s;
    margin-left: auto;
}